

<div class="card card-shadow mb-lg-5 ">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand font-weight-bold bar-turquoise " >Moyenne</a>
<!--      <form class="d-flex" role="search">-->
<!--        <input class="form-control me-2" type="search" placeholder="Rechercher..." aria-label="Search">-->
<!--        <button class="btn btn-success m-1 p-1" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search " viewBox="0 0 16 16">-->
<!--          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>-->
<!--        </svg></button>-->
<!--      </form>-->
    </div>
  </nav>

  <div class="d-flex justify-content-end">

  <button  *ngIf="see==false" (click)="verifiy()"   class="btn btn-info  btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill mr-1" viewBox="1 1 16 16">
    <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
  </svg>
Génerer Moyennes

  </button>

    <marquee *ngIf="see==true" direction="right" scrollamount="10" class="text-danger">
      <strong>.......Traitement de calcul des moyennes encours.......</strong>
    </marquee>
  </div>

  <div class="card-header border-2 d-flex justify-content-lg-between">

<!--    <button  (click)="getAllMoy()"   class="btn btn-info  btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill mr-1" viewBox="1 1 16 16">-->
<!--      <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>-->
<!--    </svg>-->
<!--      Liste des Moyennes-->
<!--    </button>-->

    <div style="display: flex;justify-content: space-between;width: 100%;">
      <div style="display: flex; align-items: center;width: 50%;">
        <span style="font-weight: bold;font-size: medium">Examen</span>
        <select  style="width: 100%" class="form-select ml-1 custom-select mb-2"  [(ngModel)]="examenID"  aria-label=" form-select-lg ">
          <option *ngFor="let ex of examens" [value]="ex.id">{{ex.libele}}</option>
        </select>
      </div>


      <div style="display: flex; align-items: center;width: 50%;">
        <span style="font-weight: bold;font-size: medium">Session</span>
        <select (ngModelChange)="genererMoy()"  style="width: 100%"  class="form-select ml-1 custom-select mb-2" [(ngModel)]="sessionID"  aria-label=" form-select-lg ">
          <option *ngFor="let se of sessions" [value]="se.id">{{se.libele}}</option>
        </select>
      </div>
    </div>




    <!-- Bouton "Ajouter" -->
<!--    <button class="btn btn-primary btn-sm"   data-bs-toggle="tooltip" data-bs-placement="top" title="Ajouter" data-toggle="modal" data-target="#cycleModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mr-1"  viewBox="1 1 16 16">-->
<!--      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>-->
<!--    </svg></button>-->

<!--    &lt;!&ndash; Modal &ndash;&gt;-->
<!--    <div class="modal fade" id="cycleModal" tabindex="-1" role="dialog" aria-labelledby="cycleModalLabel" aria-hidden="true">-->
<!--      <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--          <form class="container">-->
<!--            <div class="modal-header">-->
<!--              <h5 class="modal-title" id="cycleModalLabel">Moyenne Form</h5>-->
<!--              <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                <span aria-hidden="true">x</span>-->
<!--              </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--              <input class="form-control form-control-sm mb-4" [formControl]="moyenneTotale" type="text" placeholder="moyenne total" required>-->

<!--              <select style="width: 100%" class="form-select " [formControl]="inscription"  aria-label=" form-select-lg ">-->
<!--                <option *ngFor="let in of inscriptions" [value]="in.id">{{in.eleve.nom}}</option>-->
<!--              </select>-->

<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>-->
<!--              <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" [disabled]="!moyenneTotale.valid && !inscription.valid && !examen.valid && !session.valid" (click)="addMoy()">Ajouter</button>-->
<!--            </div>-->

<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  </div>









  <!--  <form class="container">-->
  <!--    <h1 class="mb-4">Cycle Form</h1>-->
  <!--    <input class="form-control form-control-sm mb-4" [formControl]="libele" type="text" placeholder="Cycle" required>-->

  <!--    <button class="btn btn-primary btn-sm btn-lg" [disabled]="!libele.valid" type="button" (click)="addCycle()">Ajouter</button>-->
  <!--  </form>-->



  <div class="card-body shadow">
    <table class="table table-hover bg-transparent  ">
      <thead class="thead-light" >
      <tr>

        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col" class="text-center">Moyenne</th>
        <th scope="col">Rang G</th>
        <th scope="col">Ecole</th>
        <th scope="col">Rang E</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let moyenne of moyennes" class="">
        <td>{{moyenne.inscription.eleve.nom}}</td>
        <td>{{moyenne.inscription.eleve.prenom}}</td>
        <td class="text-success text-center">{{moyenne.moyenneTotale}}</td>
        <td class="text-warning text-center"><b>{{moyenne.rangGenerale}}</b></td>
        <td>{{moyenne.inscription.ecole.nomEcole}}</td>
        <td class="text-danger text-center"><b>{{moyenne.rangEcole}}</b></td>
        <td></td>

        <div class="modal" id="confirmDeleteModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title lead font-weight-bold">Confirmation de suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger"  data-dismiss="modal"(click)="deleteMoy(activeMoy.id)">Supprimer</button>
              </div>
            </div>
          </div>
        </div>
      </tr>
      </tbody>
    </table>



    <!-- Modal pour Modifier -->
    <div class="modal fade" id="cycleModalEdit" tabindex="-1" role="dialog" aria-labelledby="cycleModalEditLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form class="container">
            <div class="modal-header">
              <h5 class="modal-title" id="cycleModalEditLabel">Moyenne Form - Modifier</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">x</span>
              </button>
            </div>
            <div class="modal-body">
              <input class="form-control form-control-sm mb-4" [formControl]="moyenneTotale" type="text" placeholder="moyenne totale" required>

              <select style="width: 100%" class="form-select " [formControl]="inscription"  aria-label=" form-select-lg ">
                <option *ngFor="let in of inscriptions" [value]="in.id">{{in.eleve.nom}}</option>
              </select>
              <select style="width: 100%" class="form-select " [formControl]="examen"  aria-label=" form-select-lg ">
                <option *ngFor="let ex of examens" [value]="ex.id">{{ex.libele}}</option>
              </select>
              <select style="width: 100%" class="form-select " [formControl]="session"  aria-label=" form-select-lg ">
                <option *ngFor="let se of sessions" [value]="se.id">{{se.libele}}</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm mr-1" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"[disabled]="!moyenneTotale.valid && !inscription.valid && !examen.valid && !session.valid" (click)="saveEditMoy()">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
