

<div class="card card-shadow mb-lg-5 ">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand font-weight-bold bar-turquoise " >Ecole</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Rechercher..." aria-label="Search">
        <button class="btn btn-success m-1 p-1" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search " viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></button>
      </form>
    </div>
  </nav>





  <div class="card-header border-2 d-flex justify-content-lg-between">

    <button  (click)="getAllEcol()"   class="btn btn-info  btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill mr-1" viewBox="1 1 16 16">
      <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
    </svg>
      Liste des Ecoles
    </button>


    <!-- Bouton "Ajouter" -->
    <button class="btn btn-primary btn-sm"  data-bs-toggle="tooltip" data-bs-placement="top" title="Ajouter"  data-toggle="modal" data-target="#cycleModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mr-1"  viewBox="1 1 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
    </svg></button>

    <!-- Modal -->
    <div class="modal fade" id="cycleModal" tabindex="-1" role="dialog" aria-labelledby="cycleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form class="container">
            <div class="modal-header">
              <h5 class="modal-title" id="cycleModalLabel">Ecole Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">x</span>
              </button>
            </div>
            <div class="modal-body">
              <input class="form-control form-control-sm mb-4" [formControl]="nomEcole" type="text" placeholder="nom Ecole" required>
              <input class="form-control form-control-sm mb-4" [formControl]="adresse" type="text" placeholder="adresse" required>
              <input class="form-control form-control-sm mb-4" [formControl]="telephone" type="text" placeholder="telephone" required>
              <input class="form-control form-control-sm mb-4" [formControl]="email" type="text" placeholder="email" required>
              <input class="form-control form-control-sm mb-4" [formControl]="ficheStatut" type="text" placeholder="fiche Statut" required>
              <input class="form-control form-control-sm mb-4" [formControl]="Statut" type="text" placeholder="Statut" required>
              <input class="form-control form-control-sm mb-4" [formControl]="Matricule" type="text" placeholder="Maricule" required>
              <input class="form-control form-control-sm mb-4" [formControl]="cycle" type="text" placeholder="cycle" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" [disabled]="!nomEcole.valid && !adresse.valid ! && telephone.valid && !email.valid && !ficheStatut.valid && !Statut.valid && !Matricule.valid && !cycle.valid" (click)="addEcol()">Ajouter</button>

            </div>
          </form>
        </div>
      </div>
    </div>

  </div>









  <!--  <form class="container">-->
  <!--    <h1 class="mb-4">Cycle Form</h1>-->
  <!--    <input class="form-control form-control-sm mb-4" [formControl]="libele" type="text" placeholder="Cycle" required>-->

  <!--    <button class="btn btn-primary btn-sm btn-lg" [disabled]="!libele.valid" type="button" (click)="addCycle()">Ajouter</button>-->
  <!--  </form>-->



  <div class="card-body shadow">
    <table class="table table-hover bg-transparent  ">
      <thead class="thead-light" >
      <tr>

        <th scope="col">Nom Ecole</th>
        <th scope="col">Adresse</th>
        <th scope="col">Telephone</th>
        <th scope="col">Email</th>
        <th scope="col">Fiche statut</th>
        <th scope="col">Statut</th>
        <th scope="col">Matricule</th>
        <th scope="col">Cycle</th>
        <th scope="col">Actions</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ecole of ecoles" class="">
        <td>{{ecole.nomEcole}}</td>
        <td>{{ecole.adresse}}</td>
        <td>{{ecole.telephone}}</td>
        <td>{{ecole.email}}</td>
        <td>{{ecole.ficheStatut}}</td>
        <td>{{ecole.statut}}</td>
        <td>{{ecole.matricule}}</td>
        <td>{{ecole.cycle.libele}}</td>


        <button  (click)="editEcol(ecole.id) " class="btn btn-primary btn-sm m-1"   data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier" data-toggle="modal" data-target="#cycleModalEdit" >

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
          </svg>

          </button>







        <button (click)="setActiveEcol(ecole)" class="btn btn-sm btn-danger mr-1 m-1"   data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer" data-toggle="modal" data-target="#confirmDeleteModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg>

        </button>
        <div class="modal" id="confirmDeleteModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title lead font-weight-bold">Confirmation de suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger"  data-dismiss="modal"(click)="deleteEcol(activeEcole.id)">Supprimer</button>
              </div>
            </div>
          </div>
        </div>
      </tr>
      </tbody>
    </table>



    <!-- Modal pour Modifier -->
    <div class="modal fade" id="cycleModalEdit" tabindex="-1" role="dialog" aria-labelledby="cycleModalEditLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form class="container">
            <div class="modal-header">
              <h5 class="modal-title" id="cycleModalEditLabel">Cycle Form - Modifier</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">x</span>
              </button>
            </div>
            <div class="modal-body">
              <input class="form-control form-control-sm mb-4" [formControl]="nomEcole" type="text" placeholder="nom ecole" required>
              <input class="form-control form-control-sm mb-4" [formControl]="adresse" type="text" placeholder="adresse" required>
              <input class="form-control form-control-sm mb-4" [formControl]="telephone" type="text" placeholder="telephone" required>
              <input class="form-control form-control-sm mb-4" [formControl]="email" type="text" placeholder="email" required>
              <input class="form-control form-control-sm mb-4" [formControl]="ficheStatut" type="text" placeholder="fiche statut" required>
              <input class="form-control form-control-sm mb-4" [formControl]="Statut" type="text" placeholder="statut" required>
              <input class="form-control form-control-sm mb-4" [formControl]="Matricule" type="text" placeholder="matricule" required>
              <input class="form-control form-control-sm mb-4" [formControl]="cycle" type="text" placeholder="cycle" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm mr-1" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"[disabled]="!nomEcole.valid && !adresse.valid && !telephone.valid && !email.valid && !ficheStatut.valid && !Statut.valid &&!Matricule.valid && !cycle.valid" (click)="saveEditEcol()">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
